<app-Admin></app-Admin>

<!-- end header -->
<!-- content section -->
<section id="Category">
    <div id="CatContent-head"> 
         <h2>Add New Category</h2>
    </div>
    <div class="row" style="margin-top:30px;">
    <div class="form-group col-md-5 col-md-offset-4" >
        <label for="newCatagory" class="addCatLabel">Name</label>
        <input type="text" class="form-control"  [(ngModel)]="name" #namecat="ngModel" id="newCatagory" placeholder="enter category name...">
    </div>
    </div>
    <div class="row">
    <div class="form-group col-md-5 col-md-offset-4" >
        <label for="descCatagory" class="addCatLabel">Descriptation</label>
        <input type="text" class="form-control"  [(ngModel)]="description" #desc="ngModel" id="descCatagory" placeholder="enter category descripation..">
    </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-md-offset-6">
            <button type="submit" class="btn btn-success" (click)="Addcatagory(namecat.value,desc.value)">Add</button>
        </div>
    </div>
</section>
