<app-Admin></app-Admin>
<!-- end header -->

<!-- content section -->        
<section id="main-content">
    <section class="wrapper">
        <div id="content-head"> 
         <h2> Categories </h2>
        </div>
        <div class="row">
            <table class="table table-bordered">
                <tr id="main-tr">
                    <td>name</td>
                    <td>descritions</td>
                    <td>action</td>
                </tr>
                <tr *ngFor="let catagory of ListCategory()">
                    <td>{{catagory.name}}</td>
                    <td>{{catagory.description}}</td>
                    <td>
                        <a [routerLink]="['/catagory/edit',catagory.id]" class="btn btn-primary">Edit</a>
                        <a *ngIf="catagory.id_subcat != null" [routerLink]="['/subcatagory/add',catagory.id]" class="btn btn-success"> add subCatagory</a>
                        <a [routerLink]="['/catagory/delete',catagory.id]" class="btn btn-danger" >remove</a>
                    </td>
                </tr>
            </table>
        </div>
    </section>
</section>