<app-Admin></app-Admin>
<!-- end header -->

<!-- content section -->
<section id="Category">
    <div id="CatContent-head"> 
         <h2>Delete Category</h2>
    </div>
    <div class="col-md-5 col-md-offset-4" style="margin-top:30px;">
    <label for="sel1" class="addCatLabel">Select list:</label>
    <select class="form-control" id="sel1"  [ngModel]="selectedoption" (ngModelChange)="onChange($event)" >
        <option *ngFor="let catagory of ListCategory()">
            <div *ngIf="catagory.id_subcat == null">
                {{catagory.name}}
            </div>
        </option>
    </select>
    </div>
    <div>
        <div class="row" >
            <div class="col-md-4 col-md-offset-5" style="margin-top:10px;">
                <button type="submit" class="btn btn-danger" (click)="deleteCatagory()">move & delete</button>
            </div>
        </div>
    </div>
</section>
