<div class="col-md-5 col-md-offset-4" style="margin-top:120px;">
<label for="sel1">Select list:</label>
  <select class="form-control" id="sel1"  [ngModel]="selectedoption" (ngModelChange)="onChange($event)" >
    <option *ngFor="let catagory of ListCategory()">
       <div *ngIf="catagory.id_subcat == null">
        {{catagory.name}}
        </div>
    </option>
  </select>
</div>
<div>
<div class="row">
    <div class="col-md-5 col-md-offset-4">
        <button type="submit" class="btn btn-default" (click)="deleteCatagory()">move and delete</button>
    </div>
</div>