<div style="margin-left:170px;">
<h1 > New subcatagory </h1>
<div class="row">
<div class="form-group col-md-5 col-md-offset-4" >
    <label for="newCatagory">Name</label>
    <input type="text" class="form-control"  [(ngModel)]="name" #namecat="ngModel" id="newCatagory" placeholder="name">
</div>
</div>
<div class="row">
<div class="form-group col-md-5 col-md-offset-4" >
    <label for="descCatagory">Descriptation</label>
    <input type="text" class="form-control"  [(ngModel)]="description" #desc="ngModel" id="descCatagory" placeholder="descripation">
</div>
</div>
<div class="row">
    <div class="col-md-5 col-md-offset-4">
  <button type="submit" class="btn btn-default" (click)="Addsubcatagory(namecat.value,desc.value)">Add</button>
</div>
<div>