<app-Admin></app-Admin>
<!-- end header -->

<!-- content section -->
<section id="main-content">
    <section class="wrapper">
        <div id="content-head"> 
         <h2> orders </h2>
        </div>
        <div class="row">
            <table class="table table-bordered">
                <tr id="main-tr">
                    <td>Date Added</td>
                    <td>Date Delivered</td>
                </tr>
                <tr *ngFor="let order of listOrders()">
                    <td>{{order.date_added}}</td>
                    <td>{{order.date_delivered}}</td>
                </tr>
            </table>
        </div>
    </section>
</section>