<app-Admin></app-Admin>

<div class="row" style="margin-top:60px;">
   <div class="form-group col-md-5 col-md-offset-4" >
       <label for="exampleInputEmail1">Categories</label>
       <select class="form-control" id="sel1"  [ngModel]="selectedoption" (ngModelChange)="onChange($event)" >
            <option *ngFor="let catagory of ListCategory()">
                <div *ngIf="catagory.id_subcat == null">
                    {{catagory.name}}
                    </div>
            </option>
        </select>
    </div>
    <div class="form-group col-md-5 col-md-offset-4" >
        <label for="exampleInputEmail1">product Name</label>
        <input type="text" name="productname" class="form-control" placeholder=" enter product name" [(ngModel)]="productName" #productname="ngModel"/>
    </div>

    <div class="form-group col-md-5 col-md-offset-4" >
        <label for="exampleInputEmail1">barcode</label>
        <input type="text" name="productbarcode" class="form-control" placeholder="Enter product barcode" [(ngModel)]="productBarcode" #productbarcode="ngModel"/>
    </div>
    <div class="form-group col-md-5 col-md-offset-4" >
        <label for="exampleInputEmail1">price</label>
        <input type="text" name="productprice" class="form-control" placeholder="Enter product price" [(ngModel)]="productPrice" #productprice="ngModel"/>
    </div>
    <div class="form-group col-md-5 col-md-offset-4" >
        <label for="exampleInputEmail1">Quantity</label>
        <input type="text" name="productquantity" class="form-control" placeholder="Enter product quantity" [(ngModel)]="productQuantity" #productquantity="ngModel"/>
    </div>
    <div class="form-group col-md-5 col-md-offset-4" >
        <label for="exampleInputFile">Image</label>
        <input type="file" name ="productimage" class="form-control-file" id="exampleInputFile"  [(ngModel)]="productImage" #productimage="ngModel"/>
    </div>
    <div class="form-group col-md-5 col-md-offset-4" >
        <label for="exampleTextarea">Description</label>
        <textarea name="productdescription" class="form-control" id="exampleTextarea" rows="3" [(ngModel)]="productDescription" #productdescription="ngModel"></textarea>
    </div>
    <div class="form-group col-md-5 col-md-offset-4" >
        <button type="button" class="btn btn-primary" (click)="addProduct()">Add product</button>
    </div>
    </div>